<h2>New Tweet:</h2>

<form action="/tweets" method="POST">
  <label for="tweet">Tweet: </label>
  <input type="text" id="tweet" name="content">
  <input type="submit" id="submit" value="Submit">
</form>
